<template>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    ${title}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3" ref="drop">
                            <div class="p-1 border border-1 border-gray-500">
                                <svg width="96px" ref="icon" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                    <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                <div class="element-form-bloc-upload-drop-input-wrapper" ref="browse">
                                    <span>${uploadFileText}</span>
                                    <p class="element-form-bloc-upload-drop-input-accessory">${uploadFileDnd}</p>
                                </div>
                                <p class="element-form-bloc-abstract">
                                    ${fileInfo}
                                </p>
                            </div>
                            <p class="element-form-bloc-abstract">${uploadFileDescription}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 m-0">
                            <span class="loader" if.bind="inProgress">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="60" height="40" viewBox="0 0 100 100" fill="#0d6efd">
                                    <rect x="15" y="40" width="10" height="20">
                                        <animate attributeName="height" values="20;60;20" begin="0s" dur="0.6s" repeatCount="indefinite"/>
                                        <animate attributeName="y" values="40;20;40" begin="0s" dur="0.6s" repeatCount="indefinite"/>
                                    </rect>
                                    <rect x="35" y="40" width="10" height="20">
                                        <animate attributeName="height" values="20;60;20" begin="0.2s" dur="0.6s" repeatCount="indefinite"/>
                                        <animate attributeName="y" values="40;20;40" begin="0.2s" dur="0.6s" repeatCount="indefinite"/>
                                    </rect>
                                    <rect x="55" y="40" width="10" height="20">
                                        <animate attributeName="height" values="20;60;20" begin="0.4s" dur="0.6s" repeatCount="indefinite"/>
                                        <animate attributeName="y" values="40;20;40" begin="0.4s" dur="0.6s" repeatCount="indefinite"/>
                                    </rect>
                                </svg>
                            </span>
                            <div class="card" repeat.for="handledFile of handledFiles">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div  class="col-sm-8 fs-6 text-truncate">
                                            ${handledFile.shortname}
                                        </div>
                                        <div class="col-sm-4 justify-content-end">
                                            <button type="button" click.trigger="onRemove(handledFile, $event)" class="btn btn-danger p-0" style="top: 20px;">
                                                <svg width="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6M14 10V17M10 10V17" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a target="_blank" href.bind="handledFile.previewUrl + '&original=1'" class="cursor-pointer">
                                        <img class="img-thumbnail" width="100px" alt.bind="handledFile.shortname" src.bind="handledFile.previewUrl" title.bind="handledFile.shortname"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
