@tailwind utilities;
@tailwind components;
@import "jsoneditor/reset";
@import "jsoneditor/variables";
@import "jsoneditor/autocomplete";
@import "jsoneditor/contextmenu";
@import "jsoneditor/editor";
@import "jsoneditor/menu";
@import "jsoneditor/navigationbar";
@import "jsoneditor/searchbox";
@import "jsoneditor/statusbar";
@import "jsoneditor/treepath";
@import "quill/quill.core.css";
@import "quill/quill.bubble.css";
@import "quill/quill.snow.css";
@import "@fractalcms/aurelia-select-beautiful/dist/styles/select-beautiful.css";

.form {
  &-textarea {
    width: 100%;
  }
}

.dragging { opacity: 0.5; }
.over { border: 2px dashed #007bff; }

